

body{
    background-color: #000104;
    color: white;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 5px; /* Slim width */
}

::-webkit-scrollbar-track {
  background: #1e1e1e; /* Dark gray background */
}

::-webkit-scrollbar-thumb {
  background: #555; /* Medium gray scrollbar */
  border-radius: 10px; /* Rounded edges */
}

::-webkit-scrollbar-thumb:hover {
  background: #777; /* Lighter gray on hover */
}


.custom-scroll::-webkit-scrollbar {
  width: 5px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #1e1e1e;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 10px;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #777;
}
